<div class="window-container">
  <div class="window win95-explorer">
    <div class="title-bar">
      <div class="title-bar-text">(C:)</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize">_</button>
        <button aria-label="Maximize">□</button>
        <button aria-label="Close">×</button>
      </div>
    </div>

    <div class="menu-bar">
      <button class="menu-item">File</button>
      <button class="menu-item">Edit</button>
      <button class="menu-item">View</button>
      <button class="menu-item">Tools</button>
      <button class="menu-item">Help</button>
    </div>

    <div class="window-body">
      <div class="tree-view">
        <ul>
          <li>
            <img src="assets/img/desktop-teaching.png" alt="folder" class="file-icon"/>
            Desktop
          </li>
          <li>
            <img src="assets/img/folder.png" alt="folder" class="file-icon"/>
            My Computer
            <ul>
              <li>
                <img src="assets/img/cd.png" alt="folder" class="file-icon"/>
                (C:)
                <ul>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    mssetup
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    CompuServe
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    Duke3D
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    Geary
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    Godzilla To…
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    learn word 97
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    MOffice
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    My Documents
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    My ZIP Files
                  </li>
                  <li>
                    <img src="assets/img/folder-item.png" alt="folder" class="file-icon"/>
                    Program Files
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="file-list">
        <table class="w95-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Modified</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <img src="assets/img/folder.png" alt="folder" class="file-icon"/>
              New Folder
            </td>
            <td></td>
            <td>File Folder</td>
            <td>6/6/98</td>
          </tr>
          <tr>
            <td>
              <img src="assets/img/notepad.png" alt="folder" class="file-icon"/>
              autoexec.bat</td>
            <td>125 bytes</td>
            <td>Batch File</td>
            <td>5/15/98</td>
          </tr>
          <tr>
            <td>
              <img src="assets/img/notepad.png" alt="folder" class="file-icon"/>
              config.sys</td>
            <td>89 bytes</td>
            <td>System File</td>
            <td>5/15/98</td>
          </tr>
          <tr>
            <td>
              <img src="assets/img/notepad.png" alt="folder" class="file-icon"/>
              readme.txt</td>
            <td>2.5 KB</td>
            <td>Text Document</td>
            <td>6/1/98</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="status-bar">
      <p class="status-bar-field">1 object(s) selected</p>
    </div>
  </div>
</div>
